@model models.ViewModels.PrestamoLibroViewModel


@{
    ViewBag.Title = "Editar libro";
}

<h3>Editar libro</h3>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form row">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="col-md-6 form-group">
        <label>Fecha prestamo</label>
        @Html.EditorFor(model => model.FechaPrestamo, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.FechaPrestamo, "", new { @class = "text-danger" })
    </div>

    <div class="col-md-6 form-group">
        <label>Observación prestamo</label>
        @Html.EditorFor(model => model.ObservacionPrestamo, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.ObservacionPrestamo, "", new { @class = "text-danger" })
    </div>

    <div class="col-md-6 form-group">
        <label>Observación entrega</label>
        @Html.EditorFor(model => model.ObservacionEntrega, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.ObservacionEntrega, "", new { @class = "text-danger" })
    </div>

    <div class="col-md-6 form-group">
        <label>Fue devuelto</label>
        @Html.EditorFor(model => model.FueDvuelto, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.FueDvuelto, "", new { @class = "text-danger" })
    </div>

    <div class="col-md-6 form-group">
        <label>Libro</label>
        @Html.DropDownListFor(model => model.IdLibro, ViewBag.BooksList as SelectList, "Seleccione un libro", new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.IdLibro, "", new { @class = "text-danger" })
    </div>

    <div class="col-md-6 form-group">
        <label>Usuario</label>
        @Html.DropDownListFor(model => model.IdUsuario, ViewBag.UsersList as SelectList, "Seleccione un usuario", new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.IdUsuario, "", new { @class = "text-danger" })
    </div>

    <div class="col-md-6 col-md-offset-6 form-group">
        <input type="submit" value="Actualizar" class="btn btn-success" />
        @Html.ActionLink("Volver", "List", null, new { @class = "btn btn-danger" })
    </div>
</div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
